{% extends "nav-bar.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="mt-5">
                <div class="card">
                    <div class="card-body mt-3 mx-3">
                        <div class="card-title" style="position: relative; vertical-align: middle;">
                            <span class="fs-4">镜面医疗</span>
                            <span class="badge rounded-pill" style="background-color: forestgreen;">已认证</span>
                        </div>

                        <div class="row">
                            <div class="col">
                                <i class="bi bi-star-fill" style="color: hotpink"></i>
                                <i class="bi bi-star-fill" style="color: hotpink"></i>
                                <i class="bi bi-star-fill" style="color: hotpink"></i>
                                <i class="bi bi-star-fill" style="color: hotpink"></i>
                                <i class="bi bi-star-fill" style="color: hotpink"></i>
                                <span style="margin-left: 4px">效果 5.0  服务 5.0  专业 4.9</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <a href="#" class="text-decoration-none" style="color:#000;">严选保障 资质认证 ></a>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="mt-2">
                                <p>联系方式： xxxxxxxxxxxx</p>
                                <p>邮箱：xxxxx@xxxxx.com</p>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col">
                                <p style="color: grey">
                                    杨树浦路1066号
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}