{% extends "nav-bar.html" %}
{% load widget_tweaks %}

{% block css %}
    <style>
    h2 {
        font-weight: 700;
        color: dodgerblue;
    }

    h3 {
        font-weight: 550;
        color: #001a38;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container-md">
        <h1 class="text-center">“圣博丽雅”合伙人奖励规则</h1>

        <h2 class="mt-5">合伙人奖励规则</h2>
        <p>成为合伙人通过他人邀请，在“圣博丽雅”合伙人平台登录注册，申请成为“圣博丽雅”合伙人。</p>
        <p>招募合伙人合伙人将“圣博丽雅属合伙人招募链接或二维码，发送至用户，用户通过其分享的链接或二维码注册申请成为“合伙人，该用户即成为该合伙人的下级合伙人。</p>

        <h2 class="mt-5">返现奖励</h2>
        <p>
            合伙人邀请的有效用户自注册成功后，成在圣博丽雅平台预约后奖励按到医院客户实际消费金额的减去材料成本的
            材料成本后的10％~50％返现。
        </p>

        <h3 class="mt-3">奖励细则</h3>
        <ol>
            <li>
                <p>合伙人可获得下级合伙人总收益奖励的10％作为奖励;</p>
            </li>
            <li>
                <p>合伙人可获得下下级合伙人总收益奖励的5％作为奖励。</p>
            </li>
        </ol>

        <h3 class="mt-3">奖励发放与提现</h3>
        <p>返点费用会在有效用户手术成功后发放至对应合伙人的“圣博丽雅”平台账户中。</p>

        <h2 class="mt-5">合伙人等级制度</h2>

        <h3 class="mt-3">普通合伙人</h3>
        <p>注册即为普通合伙人。</p>

        <h3 class="mt-3">一级合伙人</h3>
        <p>若要申请升级一级合伙人需要：</p>
            <ul>
                <li>推广2人注册成为下级合伙人；</li>
                <li>或预约并消费2人；</li>
            </ul>
        <p>并添加客服微信申请。</p>

        <h3 class="mt-3">二级合伙人</h3>
        <p>若要申请升级2级合伙人需要：</p>
            <ul>
                <li>推广5人注册成为下级合伙人；</li>
                <li>或预约医院并消费5人；</li>
            </ul>
        <p>并添加客服微信申请。</p>

        <h2 class="mt-3">平台性质</h2>
        <p class="mt-3">“圣博丽雅”平台致力于整顿医美渠道乱象，是一个独立的第三方医美医院评级机构。</p>
        <p>合伙人在推广“圣博丽雅”过程中，应严格遵守国家法律法规，不得有任何违法、违规行为。</p>
        <ol>
            <li><p>“圣博丽雅”平台医院如手术后期出现因纠纷等平台将立刻下架该医院或下调评级</p></li>
            <li>
                <p>如发现合伙人存在违规，宣传夸大医疗效果包括不仅限于欺骗招工等非法形式一经发现平台有权要求合伙人立即停止推广并对于上述违规行为所产生的数据不予结算已结算的部分有权要求退回，亦有权追究合伙人相关责任。</p>
                <p>如出现不可抗力或情势变更的情况（包括但不限于重大自然灾害事件、受政府机关指令需要停止举办或调整的、遭受严重网络攻击或因系统故障需要暂停举办的“圣博丽雅”有权随时暂停或取消本次活动，并有权主张免责。</p>
            </li>
            <li><p>“圣博丽雅”可以根据活动的实际举办情况对规则进行变动或调整，相关改动或调整将公布在活动页面上，并于公布时即时生效。</p></li>
            <li><p>“圣博丽雅”对本活动在法律规定的范围内且右解驱机</p></li>
        </ol>
    </div>
    <div style="height: 100px; color: white"></div>
{% endblock %}