{% extends "nav-bar.html" %}
{% load widget_tweaks %}

{% block css %}
    <style>
    h2 {
        font-weight: 700;
        color: dodgerblue;
    }

    h3 {
        font-weight: 550;
        color: #001a38;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container-md">
        <h1>“圣博丽雅”个人信息保护声明</h1>
        <small class="text-muted">更新日期 2021 年 11 月 8 日</small>

        <p>保护用户个人信息是圣博丽雅的一项基本原则。</p>
        <p>圣博丽雅将按照本声明及 《 隐私政策 》 的规定收集、使用、储存和分享您的个人信息。本声明对个人信息保护规定的内容与上述 《 隐私政策 》 相冲突的，及本声明对个人信息保护相关内容未作明确规定的，以 《 隐私政策 》 的内容为准。</p>

        <h2 class="mt-3">一、个人信息的收集</h2>
        <ol>
            <li>
                我们收集您的个人信息的最终目的是为了向您提供更好的产品、服务，优化并丰富您的用户体验，我们仅收集与为您提供产品、服务有关的信息，包括：
                <ol>
                    <li>姓名</li>
                    <li>移动电话</li>
                    <li>您在网站的表格上输入的其他信息（电子邮箱、住址等）</li>
                    <li>在您上载到网站的内容中包含的个人信息</li>
                    <li>根据法律规定，其他能够单独或者与其他信息结合识别您个人身份的信息</li>
                </ol>
            </li>
            <li>
                以上个人信息均是您自愿提供。您有权拒绝提供，但如果您拒绝提供某些个人信息，您将可能无法使用我们提供的产品、服务，或者可能对您使用产品、服务造成一定的影响。
            </li>
            <li>
                对于不满 18 岁的用户，须在其法定监护人已经阅读本声明并且许可的情况下，通过网站提交个人信息。
            </li>
        </ol>

        <h2 class="mt-3">二、个人信息的使用和分享</h2>
        <p>
            个人信息的使用和分享您同意，圣博丽雅可以通过以下方式对个人信息进行使用和分享(包含对于个人信息的存储和处理):
        </p>
        <p>
            我们和关联公司在合法正当的范围内使用；我们向相关入驻机构、品牌方及集团分享并由其在合法正当的范围内使用；我们及关联公司及相关入驻机构、
            品牌方及集团为满足您的需求，可能通过您提供的信息与您联系；我们及关联公司及相关入驻机构、品牌方及集团可能定期或不定期向您发送有关产品、
            服务或相关活动的信息，您同意接收上述信息。
        </p>
        <p>
            若我们拟将信息用于其他用途，或者将基于特定目的收集而来的信息用于其他目的时，会事先征求您的同意。
        </p>
        <p>
            您同意免除上述个人信息的接收和／或使用方在按照本声明所述情形下进行信息披露和使用而导致的或可能导致的所有索赔、责任和损失。
        </p>
        <p>
            如果您需要查询、修改或更正您的个人信息，或对个人信息保护问题有任何疑问或投诉，您可以拨打电话 18321856334 联系我们。
        </p>
    </div>
    <div style="height: 100px; color: white"></div>

{% endblock %}