{% extends 'admin/ADM_Template.html' %}
{% load widget_tweaks %}

{% block board_title %}百科类目编辑{% endblock %}

{% block board_content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3 mt-4">
                        <a class="btn btn-primary w-100" href="{% url 'ADM_WikiCategoryNew' %}">创建新类目</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-0 font-weight-bold">百科类目</h3>
                </div>

                <div class="card-body">
                    <table class="table table-striped table-responsive table-hover" style="width:100%">
                        <thead>
                        <tr>
                            <th scope="col">编码</th>
                            <th scope="col">父类</th>
                            <th scope="col">名称</th>
                            <th scope="col">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in category_list %}
                            <tr>
                                <th scope="row">{{ c.code }}</th>
                                <td>{% if c.father %}{{ c.father }}{% else %}-{% endif %}</td>
                                <td>{{ c.name }}</td>
                                <td class="table-action">
                                    <a class="text-decoration-none" href="{% url 'ADM_WikiCategoryEdit' c.code %}">
                                        <i class="bi bi-pencil"></i>
                                    </a>

                                    <a data-bs-toggle="modal" data-bs-target="#{{ c.code }}Modal">
                                        <i class="bi bi-trash"></i>
                                    </a>

                                    <div class="modal fade" id="{{ c.code }}Modal" tabindex="-1"
                                         aria-labelledby="{{ c.code }}Modal_label" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">百科项目删除</h5>
                                                </div>
                                                <div class="modal-body m-3">
                                                    <p class="mb-0">您即将删除 百科项目 - <i><strong
                                                            class="text-danger">{{ c.code }} {{ c.name }}</strong></i>
                                                        <br>请注意，这一操作将删除其所有子级类目以及所有相关条目
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">关闭
                                                    </button>
                                                    <a class="btn btn-danger text-white"
                                                       href="{% url 'ADM_WikiCategoryDel' c.code %}">删除</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td class="text-center" colspan="5"><strong>暂无类目, 请点击添加</strong></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}