{% extends "nav-bar.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 m-3">
            <a class="card text-decoration-none p-3" style="color: black" href="{% url 'tool_blacklist' 1 %}">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-bar-chart-line"></i> 黑白名单后台</h5>
                    <p class="card-text">查看黑白名单访问记录</p>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 m-3">
            <a class="card text-decoration-none p-3" style="color: black" href="{% url 'blacklist_with' uid %}">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-card-list"></i> 查看你的黑白名单</h5>
                    <p class="card-text">请通过微信端打开</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}